@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");

* {

  /* box-sizing: border-box; */
}

.container {
  width: 100%;
  min-width: 375px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: auto;
  margin: 0 auto;
  padding: 0;
 
}
    /* header start*/

    .main_header {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 100%;
        height: 96.34px;
        gap: 1rem;
    }

    .main_header a {
        display: flex;
        width: 30px;
        height: 30px;
        color: #353535;
        text-decoration: none;
    } 

    .logo-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 36px;
    }

    .main_header {
        padding: 15px 0px 15px 15px;
        font-family: Shrikhand;
        font-size: 30px;
        font-style: italic;
        font-weight: 400;
        line-height: 44px;
        letter-spacing: 0em;
    }

    .logo-menu img {
        display: flex;
        justify-content: flex-start;
        height: 36px;
        
    }

    /* header end */

    .block_header img {
        width: 100%;
        height: 382px;
        object-fit: cover;
    }

    section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: auto;
       
      }

    .main_content_child {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        margin-top: -40px;
        width: 100%;
        border-radius: 30px 30px 0px 0px;
        background-color: #F6F6F6;
    }

    .main__content__h1 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 20px 10px;
    }

    .main__content__h1__title {
        font-family: "Shrikhand";
        font-size: 1.43rem;
        font-weight: 400;
    }

    
    .main__content__h1__heart {
        color: #000000;
        font-size: 1.5rem;
        align-self: center;
        margin-left: 2rem;
        transition: all 300ms 40ms;
    }

    .main__content__h1__heart:hover {
        transform: scale(1.05);
        background: linear-gradient(#9356DC, #FF79DA);
        color: transparent;
        font-weight: 600;
        background-clip: text;
    }

    .main__content__title {
        font-family: "Roboto";
        font-size: 1rem;
        font-weight: 300;
        margin-bottom: -3rem;
        width: 95%;
    }

    .main__content__title:after {
        content: "";
        display: block;
        background-color: #99E2D0;
        width: 2.5rem;
        height: 3px;
        padding-top: 0.3rem;
    }

    .main__content__entree {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding-bottom: 3rem;
        
    }

    .main__content__entree__menu {
        position: relative;
        display: flex;
        width: 95%;
        height: 100%;
        border-radius: 15px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        margin: 1rem 0 0 0;
        background-color: #FFFFFF;
        overflow: hidden;
        transition: all 300ms;
        
    }

    .main__content__entree__menu .menu__a {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    
    .main__content__entree__menu:hover .main__content__entree__menu__check  {
        margin-right: 0;
    } 
    
    .main__content__entree__menu:hover .main__content__entree__menu__check  .main__content__entree__menu__check__icon   {
       background-position: top right;
    } 
      
    .main__content__entree__menu__check {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #99E2D0; 
        width: 5.5%;
        height: 100%;
        position: absolute;
        top:0;
        right:0; 
        margin-right: -6.5rem;
        border-radius: 0 15px 15px 0;
        transition: all 500ms ease-in-out;
    }
  
    .main__content__entree__menu__check__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
        font-size: 1.2rem;
        text-shadow: 2px 2px 10px #008766;
        background-color: #99E2D0; 
    } 


    .main__content__entree__menu__title {
        margin: 0 0 0.3rem 0;
        color: #000000;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;

    }

    .main__content__entree__menu__detail {
        margin: 0;
        color: #000000;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
    }

    .main__content__entree__menu__detail__and {
        width: 100%;
        margin: 0;
        font-weight: 300;
        font-size: 0.800rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .main__content__entree__menu__detail__price {
        margin: 0 0 0 1rem;
        font-weight: 700;
        font-size: 0.875rem;
        transition: 0.3s;
    }
      .main__content__entree__menu:hover .main__content__entree__menu__detail__price  {
        padding-left: -12px;
        width: 10%;
    } 
    

    .progress .entree-1 {
        transform-origin: right;
        animation: apparition 800ms 150ms backwards;
    }

    .progress .entree-2 {
        transform-origin: right;
        animation: apparition 800ms 500ms backwards;
    }

    .progress .entree-3 {
        transform-origin: right;
        animation: apparition 800ms 850ms backwards;
    }

    .progress .plat-1 {
        transform-origin: right;
        animation: apparition 800ms 1350ms backwards;
    }

    .progress .plat-2 {
        transform-origin: right;
        animation: apparition 800ms 1700ms backwards;
    }

    .progress .plat-3 {
        transform-origin: right;
        animation: apparition 800ms 2150ms backwards;
    }

    .progress .dessert-1 {
        transform-origin: right;
        animation: apparition 800ms 2450ms backwards;
    }

    .progress .dessert-2 {
        transform-origin: right;
        animation: apparition 800ms 2800ms backwards;
    }

    .progress .dessert-3 {
        transform-origin: right;
        animation: apparition 800ms 3150ms backwards;
    }

    @keyframes apparition {
        0% {
            transform: scaleX(0);
        }

        100% {
            transform: scaleX(1);
        }
    }

    .button {
        border-radius: 25px;
        width: 15rem;
        border: none;
        color: #FFFFFF;
        font-family: "Roboto";
        font-size: 1rem;
        font-weight: 500;
        text-align: center;
        padding: 1rem 1.5rem 1rem 1.5rem;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        background: linear-gradient(#FF79DA, #9356DC);
        transition: transform 300ms, background 300ms 50ms;
        box-shadow: 300ms 50ms;
        margin: 30px 0px;
    }

    .button:hover {
        transform: scale(1.02);
        background: linear-gradient(#ff93e1, #a16be0);
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
    }


/* Footer start */

footer {
    display: flex;
    align-items: center;
    width: 100%;
    background: #353535;
    height: 114px;
    padding: 30px, 25px, 30px, 25px;
  }
  
  .logoFooter {
    width: 137px;
    height: 27px;
    font-family: shrikhand;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    color: #ffffff;
    padding-right: 8rem;
  }
  
  .main_footer {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
   
  }
  
  .footer_text {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    color: #ffffff;
  }
  
  .footer_text {
    width: 100%;
    display: flex;
    gap: 2rem;
  }
 

       @media screen and (min-width: 768px) {
      
        .main__content__h1__title {
           
            font-size: 2.5rem;
        }

        .main__content__h1 {
            
            padding: 20px;
        }

        .main__content__entree__menu {
            width: 80%;
          }

          .main__content__title {
           
            width: 80%;
          }
          .main_content_child {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            margin-top: -40px;
            width: 80%;
            border-radius: 30px 30px 0px 0px;
            background-color: #F6F6F6;
        }

        
    } 

       @media screen and (min-width: 1024px) {
      
        .main__content__h1__title {
           
            font-size: 2.5rem;
        }

        .main__content__h1 {
            
            padding: 20px;
        }

        .main__content__entree__menu {
            width: 80%;
          }

          .main__content__title {
           
            width: 80%;
          }

      
          .main_content_child {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            margin-top: -40px;
            width: 80%;
            border-radius: 30px 30px 0px 0px;
            background-color: #F6F6F6;
        }

        
    } 






    /* @media screen and (min-width: 1024px) {
      
        .main__content__h1__title {
           
            font-size: 2.5rem;
        }

        .main__content__h1 {
            
            padding: 20px;
        }

        .main__content__entree__menu {
            width: 80%;
          }

          .main_content_child {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            margin-top: -40px;
            width: 80%;
            border-radius: 30px 30px 0px 0px;
            background-color: #F6F6F6;
        }

        .main__content__entree__menu__detail__and {
            font-size: 0.875rem;
        }
        
    } */

    /* @media screen and (min-width: 768px) {
      
        .main__content__h1__title {
           
            font-size: 2.5rem;
        }

        .main__content__h1 {
            
            padding: 20px;
        }

        .main__content__entree__menu {
            width: 80%;
          }

          .main_content_child {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            margin-top: -40px;
            width: 100%;
            border-radius: 30px 30px 0px 0px;
            background-color: #F6F6F6;
        }

        
    } */
